@import "tailwindcss";

@theme {
  --color-primary-50: oklch(0.984 0.21579 135.347);
  --color-primary-100: oklch(0.968 0.21579 135.347);
  --color-primary-200: oklch(0.929 0.21579 135.347);
  --color-primary-300: oklch(0.869 0.21579 135.347);
  --color-primary-400: oklch(0.75019 0.21579 135.347);
  --color-primary-500: oklch(0.554 0.21579 135.347);
  --color-primary-600: oklch(0.446 0.21579 135.347);
  --color-primary-700: oklch(0.372 0.21579 135.347);
  --color-primary-800: oklch(0.279 0.21579 135.347);
  --color-primary-900: oklch(0.208 0.21579 135.347);
  --color-primary-950: oklch(0.129 0.21579 135.347);

  --color-accent-50: oklch(0.985 0.002 247.839);
  --color-accent-100: oklch(0.967 0.003 264.542);
  --color-accent-200: oklch(0.928 0.006 264.531);
  --color-accent-300: oklch(0.872 0.01 258.338);
  --color-accent-400: oklch(0.707 0.022 261.325);
  --color-accent-500: oklch(0.551 0.027 264.364);
  --color-accent-600: oklch(0.446 0.03 256.802);
  --color-accent-700: oklch(0.373 0.034 259.733);
  --color-accent-800: oklch(0.278 0.033 256.848);
  --color-accent-900: oklch(0.21 0.034 264.665);
  --color-accent-950: oklch(0.13 0.028 261.692);

  --animate-slow-zoom: slow-zoom 30s ease forwards;

  @keyframes slow-zoom {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(1.15);
    }
  }
}

@font-face {
  font-family: "Atkinson";
  src: url("/fonts/atkinson-regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Atkinson";
  src: url("/fonts/atkinson-bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

.btn-primary {
  @apply bg-primary-400 text-accent-900 font-semibold rounded-md px-4 py-2 flex items-center justify-center gap-2 transition cursor-pointer hover:bg-accent-900 hover:text-primary-400;
}

.btn-primary-outline {
  @apply bg-primary-400 text-accent-900 font-semibold rounded-md px-4 py-2 flex items-center justify-center gap-2 transition cursor-pointer border border-transparent hover:border-primary-400 hover:bg-transparent hover:text-primary-400;
}

.btn-secondary {
  @apply bg-accent-500 text-white rounded-md px-4 py-2 flex items-center justify-center gap-2 hover:bg-accent-600 transition cursor-pointer;
}

.btn-transparent {
  @apply bg-primary-400/20 text-accent-50 border border-primary-400 rounded-md px-4 py-2 flex items-center justify-center gap-2 transition font-semibold cursor-pointer hover:bg-primary-900 hover:border-primary-900 hover:text-primary-400;
}

.btn-transparent-dark {
  @apply bg-primary-800/20 text-accent-50 border border-primary-800 rounded-md px-4 py-2 flex items-center justify-center gap-2 hover:bg-primary-800 transition font-semibold cursor-pointer;
}

.eyebrow {
  @apply font-semibold text-primary-400 uppercase border-b-2 border-l-2 border-r-2 border-t border-primary-400 mb-2 rounded-md px-3 py-1 w-fit text-sm;
}

.eyebrow-light {
  @apply bg-white text-primary-400 font-semibold uppercase px-3 py-1 w-fit rounded-md text-sm;
}

.eyebrow-dark {
  @apply bg-accent-950 text-primary-400 font-semibold uppercase px-3 py-1 w-fit rounded-md text-sm;
}

body {
  font-family: "Atkinson", sans-serif;
  margin: 0;
  padding: 0;
  text-align: left;
  /* background: linear-gradient(var(--gray-gradient)) no-repeat; */
  /* background-size: 100% 600px; */
  word-wrap: break-word;
  overflow-wrap: break-word;
  /* color: rgb(var(--gray-dark)); */
  font-size: 20px;
  line-height: 1.7;
}

a:focus {
  @apply outline-2 outline-primary-400;
}

button:focus {
  @apply outline-2 outline-primary-400;
}

input:focus {
  @apply outline-2 outline-primary-400;
}

strong,
b {
  font-weight: 700;
}

.prose p {
  margin-bottom: 2em;
}

textarea {
  width: 100%;
  font-size: 16px;
}

input {
  font-size: 16px;
}

table {
  width: 100%;
}

code {
  padding: 2px 5px;
  background-color: rgb(var(--gray-light));
  border-radius: 2px;
}

pre {
  padding: 1.5em;
  border-radius: 8px;
}

pre > code {
  all: unset;
}

hr {
  border: none;
  border-top: 1px solid rgb(var(--gray-light));
}

@media (max-width: 720px) {
  body {
    font-size: 18px;
  }
}

.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px 1px 1px 1px);
  /* maybe deprecated but we need to support legacy browsers */
  clip: rect(1px, 1px, 1px, 1px);
  /* modern browsers, clip-path works inwards from each corner */
  clip-path: inset(50%);
  /* added line to stop words getting smushed together (as they go onto separate lines and some screen readers do not understand line feeds as a space */
  white-space: nowrap;
}
