---
import ImageComp from "../ImageComp.astro";

const example = {
    upperHeading: "",
    title: "",
    description: "",
    buttom: {
        title:"",
        link:"",
    },
    image: {
        src: "",
        alt : "",
    }
};
const { content = example } = Astro.props;
---

<section
  class="mx-auto max-w-7xl items-center gap-8 px-4 py-10 sm:px-6 sm:py-16 md:grid md:grid-cols-2 lg:grid lg:grid-cols-2 lg:px-8 lg:py-14 xl:gap-16 2xl:max-w-full"
>
  <ImageComp
    class="w-full rounded-xl"
    src={content.image.src}
    alt={content.image.alt}
  />
  <div class="mt-4 md:mt-0">
    <h2
      class="mb-4 text-4xl font-extrabold tracking-tight text-balance text-neutral-800 dark:text-neutral-200"
    >
      <Fragment set:html={content.title} />
    </h2>
    <p
      class="mb-4 max-w-prose font-normal text-pretty text-neutral-600 sm:text-lg dark:text-neutral-400"
    >
      <Fragment set:html={content.description} />
    </p>
  </div>
</section>
