---
import BaseLayout from "../layouts/BaseLayout.astro";
import HeroHomepage from "../components/HeroHomepage.astro";
import HeroCards from "../components/HeroCards.astro";
import HomePageAbout from "../components/HomePageAbout.astro";
import ProgramsList from "../components/ProgramsList.astro";
import CTAWhyUs from "../components/CTAWhyUs.astro";
import ImageComp from "../components/ImageComp.astro";
import ContactForm from "../components/forms/ContactForm.astro";
import TestimonialsCarousel from "../components/TestimonialsCarousel.jsx";
import CTAIntroFlight from "../components/CTAIntroFlight.astro";
import InstagramFeed from "../components/InstagramFeed.astro";

import contactData from "../data/forms/contact.js";
---

<BaseLayout>
  <div class="relative min-h-[115vh] overflow-hidden">
    <ImageComp
      src="/src/assets/vegas-aviation-cessna-las-vegas-flight-training.jpg"
      alt="Vegas Aviation Cessna Airplane"
      class="absolute inset-0 h-full w-full object-cover brightness-50 animate-slow-zoom"
      loading="eager"
      quality={100}
    />
    <div class="relative z-30 container mx-auto flex h-full w-full max-w-392 flex-col justify-center px-6 md:px-20">
      <!-- Hero section -->
      <HeroHomepage
        data={{
          eyebrow: "Fly with Vegas Aviation",
          title: "Flying Lessons in North Las Vegas Airport",
          paragraph:
            "With flexible scheduling, more hands-on control, and a people-first approach, you'll learn faster and build confidence from the very first lesson.",
          styling: "relative min-h-[60vh] overflow-hidden flex flex-row items-end pt-20 lg:pt-40",
        }}
      />
      <HeroCards />
    </div>
  </div>
  <HomePageAbout />
  <ProgramsList />
  <CTAWhyUs />

  <!-- TODO : Currently unused -->
  <InstagramFeed />

  <!-- TODO : Add FAQ? -->

  <TestimonialsCarousel
    items={[]}
    className="from-primary-400/20 to-accent-50 bg-linear-to-b px-5 py-16 text-accent-900 md:px-8 md:py-20 lg:px-10 lg:py-24"
    client:load
  />
  <ContactForm content={contactData} />
  <CTAIntroFlight />
</BaseLayout>
