---
import ImageComp from "./ImageComp.astro";
import HeroHomepage from "./HeroHomepage.astro";
import { date } from "astro:schema";

interface Props {
  data: {
    image: {
      src: string;
      alt: string;
    };
    eyebrow: string;
    title: string;
    subTitle: string;
    cta?: {
      url: string;
      text: string;
    };
  };
}

const { data } = Astro.props;
---

<div class="relative min-h-[115vh] overflow-hidden">
  <ImageComp
    src={data.image.src}
    alt={data.image.alt}
    class="absolute inset-0 h-full w-full object-cover brightness-50 animate-slow-zoom"
    loading="eager"
    quality={100}
  />
  <div class="relative z-30 container mx-auto flex h-full w-full max-w-392 flex-col justify-center px-6 md:px-20">
    <!-- Hero section -->
    <HeroHomepage
      data={{
        eyebrow: data.eyebrow,
        title: data.title,
        paragraph: data.subTitle,
        styling: "relative min-h-[60vh] overflow-hidden flex flex-row items-end pt-20 lg:pt-40",
      }}
    />
    {
      data.cta && (
        <div class="mt-6 flex justify-start">
          <a href={data.cta.url} class="btn-transparent text-lg">
            {data.cta.text}
          </a>
        </div>
      )
    }
  </div>
</div>
