---
import ImageComp from "./ImageComp.astro";
import HeroHomepage from "./HeroHomepage.astro";
import HeroCards from "./HeroCards.astro";

interface Props {
  data: {
    image: {
      src: string;
      alt: string;
    };
    eyebrow: string;
    title: string;
    subTitle: string;
    cta?: {
      url: string;
      text: string;
    };
    heroCards?: boolean;
  };
}

const { data } = Astro.props;
---

<div class="relative min-h-[80vh] overflow-hidden">
  <ImageComp
    src={data.image.src}
    alt={data.image.alt}
    class="absolute inset-0 h-full w-full object-cover brightness-40 animate-slow-zoom"
    loading="eager"
    quality={100}
  />
  <div class=`container mx-auto flex min-h-full w-full max-w-392 flex-col justify-center px-6 ${data.cta ? "pb-[98px]" : ""} md:px-20`>
    <HeroHomepage
      data={{
        eyebrow: data.eyebrow,
        title: data.title,
        paragraph: data.subTitle,
        styling: "relative min-h-[40vh] overflow-hidden flex flex-row items-end pt-20 lg:pt-40",
      }}
    />

    {
      data.cta && (
        <div class="my-6 mx-auto flex justify-center bottom-0 text-center absolute left-0.5 right-0.5 sm:left-1/2 sm:-translate-x-1/2">
          <a href={data.cta.url} class="btn-primary-outline text-2xl group w-fit">
            <span class="size-1.5 rounded-full bg-accent-900 transition group-hover:bg-primary-400"></span>
            {data.cta.text}
            <span class="size-1.5 rounded-full bg-accent-900 transition group-hover:bg-primary-400"></span>
          </a>
        </div>
      )
    }

    {
      data.heroCards && (
        <HeroCards />
      )
    }
  </div>
</div>
