---
import CardBlog from "./cards/CardBlog.astro";
import { getCollection } from "astro:content";
import type { CollectionEntry } from "astro:content";
import { FaArrowRight } from "react-icons/fa";

const blogEntries = await getCollection("blog", ({ id }) => {
  return id;
});

const blogPosts: CollectionEntry<"blog">[] = blogEntries.sort(
  (a: CollectionEntry<"blog">, b: CollectionEntry<"blog">) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const threeMostRecentPosts: CollectionEntry<"blog">[] = blogPosts.splice(0, 3);
---

<section class="py-8 text-accent-900 bg-accent-100">
  <div class="mx-auto max-w-7xl px-5 py-16 md:px-8 lg:px-10">
    <h2 class="text-center text-5xl font-bold uppercase mb-8 border-b-4 gradient-border-image pb-2 max-w-5xl mx-auto">Recent Aviation News</h2>

    <div class="grid grid-cols-1 gap-4 xl:grid-cols-3">
      {threeMostRecentPosts.map((blogEntry) => <CardBlog blogEntry={blogEntry} smallCard={true} />)}
    </div>

    <div class="flex justify-center pt-8">
      <a href="/blog" class="btn-primary text-xl! uppercase">Read More <FaArrowRight /></a>
    </div>
  </div>
</section>
