---
---

<!-- Elfsight Google Reviews | Vegas Aviation Google Reviews -->
<section class="bg-accent-100 text-accent-900">
  <div class="max-w-7xl mx-auto min-h-[400px] px-5 py-16 md:px-8 lg:px-10">
    <div class="text-center mb-4">
      <p class="eyebrow-dark mx-auto">What Our Students Say</p>
      <h2 class="text-5xl font-bold mt-4">Inspiring Stories from Our Students</h2>
    </div>
  
    <script src="https://elfsightcdn.com/platform.js" async></script>
    <div class="elfsight-app-8386d523-deab-48af-8256-5daf1c4d60ee" data-elfsight-app-lazy></div>
  </div>
</section>
