---
import { FaPeopleGroup } from "react-icons/fa6";
import { AiFillSafetyCertificate } from "react-icons/ai";
import { PiAirplaneTakeoffFill } from "react-icons/pi";
import { FaArrowRight } from "react-icons/fa";
---

<section class="relative">
  <div
    class="flex flex-col-reverse items-center gap-10 py-10 text-center md:flex-row-reverse md:items-start md:text-left 2xl:items-stretch"
  >
    <div
      class="mb-12 flex flex-1 flex-col items-center justify-stretch md:mb-0 md:w-[30%] md:items-start md:text-left"
    >
      <p class="text-md mb-6 text-accent-100">
        Our commitment to excellence and safety ensures you receive top-tier
        aviation education tailored to your goals
      </p>
      <a
        href="/"
        class="btn-transparent"
      >
        Register Now
        <FaArrowRight />
      </a>
    </div>
    <div class="hidden flex-2 gap-8 md:grid md:grid-cols-1 xl:grid-cols-2 2xl:grid-cols-3">
      <div class="translate-y-0 rounded-lg border border-white/50 bg-white/40 backdrop-blur-sm p-6 shadow-lg transition-all duration-500 hover:-translate-y-1.5 hover:shadow-primary-400/60">
        <AiFillSafetyCertificate className="mx-auto md:mx-0 size-12 text-primary-400 mb-4" />
        <h3 class="mb-2 text-lg font-semibold text-accent-100 wrap-normal md:text-2xl">
          Safety First
        </h3>
      </div>

      <div class="translate-y-0 rounded-lg border border-white/50 bg-white/40 backdrop-blur-sm p-6 shadow-lg transition-transform duration-500 hover:-translate-y-1.5 hover:shadow-primary-400/60">
        <FaPeopleGroup className="mx-auto md:mx-0 size-12 text-primary-400 mb-4" />
        <h3 class="mb-2 text-lg font-semibold text-accent-100 wrap-normal md:text-2xl">
          Experienced Instructors
        </h3>
      </div>

      <div class="translate-y-0 rounded-lg border border-white/50 bg-white/40 backdrop-blur-sm p-6 shadow-lg transition-transform duration-500 hover:-translate-y-1.5 hover:shadow-primary-400/60">
        <PiAirplaneTakeoffFill className="mx-auto md:mx-0 size-12 text-primary-400 mb-4" />
        <h3 class="mb-2 text-lg font-semibold text-accent-100 wrap-normal md:text-2xl">
          State of the Art Facilities
        </h3>
      </div>
    </div>
  </div>
</section>
