<!-- Elfsight Instagram Feed | McFly Education IG Feed -->
<!-- <script src="https://elfsightcdn.com/platform.js" async></script>

<div class="py-10 bg-accent-950">
  <div
    class="elfsight-app-ad64ffed-dc44-4514-adfa-b3382c17a4d9"
    data-elfsight-app-lazy
  >
  </div>
</div>
 -->