---
import MarqueeLogos from "./MarqueeLogos";

const { data } = Astro.props;
---

<div class="w-full text-accent-900">
  <div
    class="relative isolate overflow-hidden bg-primary-dark px-6 py-16 text-center rounded-sm"
  >
    <h2
      set:html={data.heading}
      class="mx-auto max-w-2xl text-6xl font-bold capitalize tracking-tight text-accent"
    />
    <p
      class="mx-auto my-8 max-w-xl text-lg leading-8"
      set:html={data.description}
    />
    <MarqueeLogos items={data.items} client:only />
  </div>
</div>